Application/n8n/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "04ced486-2466-431f-b1fd-ea604848459b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -496
      ],
      "id": "a0e0298b-1a92-4e62-93c7-35ffe72e4ba0",
      "name": "Webhook",
      "webhookId": "04ced486-2466-431f-b1fd-ea604848459b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/checklist/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[\n  {\n    \"checked\": false,\n    \"name\": \"lidocaine\",\n    \"location\": \"Cabinet A1\",\n    \"amount\": 20\n  },\n  {\n    \"checked\": false,\n    \"name\": \"propofol\",\n    \"location\": \"Cabinet I2\",\n    \"amount\": 10\n  },\n  {\n    \"checked\": false,\n    \"name\": \"fentanyl\",\n    \"location\": \"Specialbox Opioids\",\n    \"amount\": 1\n  },\n  {\n    \"checked\": false,\n    \"name\": \"paracetamol\",\n    \"location\": \"Shelf B3\",\n    \"amount\": 8\n  },\n  {\n    \"checked\": false,\n    \"name\": \"phenylephrine\",\n    \"location\": \"Resus Trolley\",\n    \"amount\": 1\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        -400
      ],
      "id": "fcb5cd47-e7d4-46a9-9b76-a2fb31f08b07",
      "name": "Checklist"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/orders/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        -784
      ],
      "id": "b9faec8d-af54-4cf1-9e85-ac0f01baf2e8",
      "name": "Contact Storage"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/inventory/{{ $json.medication_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -592
      ],
      "id": "7547a42c-7f86-446c-916b-c57d1d8fc720",
      "name": "Check minimum"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bac1f21-bfd1-467e-872d-2db3146babb1",
              "leftValue": "found",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "02ad911f-1768-434f-82fa-306215527749",
              "leftValue": "found",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -800
      ],
      "id": "c3837817-8531-4881-8641-0776d5888c72",
      "name": "found?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c0a03ce-6f7c-449b-b2fd-5ed0f3c53315",
              "leftValue": "={{ $json.checked }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -384
      ],
      "id": "81fff67b-8150-4b03-b350-5041e70822f1",
      "name": "stock missing?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/orders",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"name\": \"{{ $json.name }}\",\n\"date\": \"{{ $json.date }}\",\n\"medications\": {{ JSON.stringify($json.medications) }},\n\"isInternal\": {{ $json.isInternal }},\n\"isRush\": {{ $json.isRush }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        -400
      ],
      "id": "4ce7c256-b49f-4fc5-a02e-c7ab93a9796f",
      "name": "Create Order"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "170337f8-fc85-4887-a6a6-c6196af429a7",
              "leftValue": "={{ $json.amount }}",
              "rightValue": "={{ $json.inventory_amount }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "19208d65-06de-4291-b111-bf38f227dd68",
              "leftValue": "={{ $json.unit }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        736,
        -144
      ],
      "id": "1d39cfbb-479d-4aed-9449-6d5e8394e7a8",
      "name": "below minimum?"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a storage worker helping to find medication in the storage room of a hospital. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        960,
        -1200
      ],
      "id": "b9381361-0f2a-44c5-a3a9-ab43758d245e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        -1024
      ],
      "id": "646d0e9f-049d-482f-86e6-f3d6951680b7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ojDD1aN7ndewY4aP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        -1056
      ],
      "id": "f8d878ca-5922-469d-a102-fd8c01e851ba",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"found\": \"yes\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        -1008
      ],
      "id": "bf7b97ec-52ce-42f4-a423-0fe3de3ae852",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Simple aggregation — keeps medication_id and amount from each incoming item\nconst items = $input.all();\n\nconst medications = items.map(i => ({\n  medicationId: i.json.medication_id || i.json.medicationId || '',\n  amount: (i.json.amount !== undefined ? i.json.amount : 10) // fallback 10\n}));\n\nreturn [{\n  json: {\n    name: \"Weekly Restock\",\n    date: \"2025-12-01\",\n    medications,\n    isInternal: false,\n    isRush: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -448
      ],
      "id": "d51a8e2b-24f9-4fc5-b6ca-1d6e5c170a5f",
      "name": "create order object"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "amount",
              "newKey": "inventory_amount"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        736,
        -576
      ],
      "id": "d4903e05-cc96-42d6-aef3-d4671b36e6eb",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "jsCode": "// Simple aggregation — keeps medication_id and amount from each incoming item\nconst items = $input.all();\n\nconst medications = items.map(i => ({\n  medicationId: i.json.medication_id || i.json.medicationId || '',\n  amount: -(i.json.amount !== undefined ? i.json.amount : 10) // fallback 10\n}));\n\nreturn [{\n  json: {\n    name: \"Weekly Restock\",\n    date: \"2025-12-01\",\n    medications,\n    isInternal: false,\n    isRush: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -800
      ],
      "id": "ec75797b-8d8f-47a3-a34e-1756609b7e01",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/checklist/create",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1552,
        -144
      ],
      "id": "359da083-f4d8-4062-b653-0b33eb178f42",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -80
      ],
      "id": "c15f4e51-ecdf-49f1-9dc5-c12840abef67",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1184,
        -544
      ],
      "id": "b7af2b94-9cba-439b-8ee1-db64f793cbc1",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9509e681-a9b0-45d0-9e0f-00b2950c1bd1",
              "leftValue": "={{ $json.amount }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1072,
        -48
      ],
      "id": "e8596ba3-9477-48fa-aacc-ce10bf9e6daf",
      "name": "Filter",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "stock missing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Storage": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stock missing?": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check minimum",
            "type": "main",
            "index": 0
          },
          {
            "node": "below minimum?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "found?": {
      "main": [
        [],
        [
          {
            "node": "Create Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check minimum": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "below minimum?": {
      "main": [
        [
          {
            "node": "create order object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "create order object": {
      "main": [
        [
          {
            "node": "Create Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "below minimum?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Contact Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "756de504-4c27-4ee0-a1c0-988631f005b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f72ae3c73fc227654e5e52a81f4f6ee1e5ae3444ec65155b53b84ec97ea95c1f"
  },
  "id": "EEWFad4mpZSvoYIj",
  "tags": []
}