Application/n8n/My workflow_v2.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "04ced486-2466-431f-b1fd-ea604848459b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        -992
      ],
      "id": "a0e0298b-1a92-4e62-93c7-35ffe72e4ba0",
      "name": "Webhook",
      "webhookId": "04ced486-2466-431f-b1fd-ea604848459b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/checklist/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[\n  {\n    \"checked\": false,\n    \"name\": \"lidocaine\",\n    \"location\": \"Cabinet A1\",\n    \"amount\": 20\n  },\n  {\n    \"checked\": false,\n    \"name\": \"propofol\",\n    \"location\": \"Cabinet I2\",\n    \"amount\": 10\n  },\n  {\n    \"checked\": false,\n    \"name\": \"fentanyl\",\n    \"location\": \"Specialbox Opioids\",\n    \"amount\": 1\n  },\n  {\n    \"checked\": false,\n    \"name\": \"paracetamol\",\n    \"location\": \"Shelf B3\",\n    \"amount\": 8\n  },\n  {\n    \"checked\": false,\n    \"name\": \"phenylephrine\",\n    \"location\": \"Resus Trolley\",\n    \"amount\": 1\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        -992
      ],
      "id": "fcb5cd47-e7d4-46a9-9b76-a2fb31f08b07",
      "name": "Checklist"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/inventory/{{ $json.medication_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -992
      ],
      "id": "7547a42c-7f86-446c-916b-c57d1d8fc720",
      "name": "Check minimum"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c0a03ce-6f7c-449b-b2fd-5ed0f3c53315",
              "leftValue": "={{ $json.checked }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        -992
      ],
      "id": "81fff67b-8150-4b03-b350-5041e70822f1",
      "name": "stock missing?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/orders",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"name\": \"{{ $json.name }}\",\n\"date\": \"{{ $json.date }}\",\n\"medications\": {{ JSON.stringify($json.medications) }},\n\"isInternal\": {{ $json.isInternal }},\n\"isRush\": {{ $json.isRush }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1824,
        -992
      ],
      "id": "4ce7c256-b49f-4fc5-a02e-c7ab93a9796f",
      "name": "Create Order"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "170337f8-fc85-4887-a6a6-c6196af429a7",
              "leftValue": "={{ $json.inventory_amount- $json.amount}}",
              "rightValue": "={{ $json.min_stock }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        -624
      ],
      "id": "1d39cfbb-479d-4aed-9449-6d5e8394e7a8",
      "name": "below minimum?"
    },
    {
      "parameters": {
        "jsCode": "// Input: items = inventory objects as shown\nconst inputItems = $input.all();\n\nconst today = new Date();\nconst dateStr = today.toISOString().slice(0, 10); // \"YYYY-MM-DD\"\n\n// Build medications array\nconst medications = inputItems\n  .filter(i => i.json.checked)\n  .map(i => {\n    const d = i.json;\n    const missing = d.min_stock - (d.inventory_amount - d.amount);\n    return {\n      medicationId: d.medicationId || d.medication_id,\n      amount: missing > 0 ? missing : 0,\n    };\n  })\n  // Optional: only keep meds where amount > 0\n  .filter(m => m.amount > 0);\n\nreturn [\n  {\n    json: {\n      name: \"Weekly Restock\",\n      date: dateStr,\n      medications,\n      isInternal: false,\n      isRush: true,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -832
      ],
      "id": "d51a8e2b-24f9-4fc5-b6ca-1d6e5c170a5f",
      "name": "create order object"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/checklist/create",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2416,
        -624
      ],
      "id": "359da083-f4d8-4062-b653-0b33eb178f42",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "medicationId",
              "field2": "medication_id"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        -624
      ],
      "id": "0b318928-904a-4c03-a34c-7b9982e52443",
      "name": "Merge1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        528,
        -1152
      ],
      "id": "4466cda5-9f35-42ce-b3f1-81ac4326fd2e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tb8D48jlhAfozmTK",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"found\": \"Yes\",\n  \"text\": \"Yes! We still have some left, I'll bring them by.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        -1152
      ],
      "id": "4d52907f-ff60-4014-bf09-f30506ba7ce5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b54423b-7204-4103-ba5d-ffb721680b21",
              "leftValue": "={{ $json.output.found }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1296,
        -1104
      ],
      "id": "f602039c-0780-4ba9-a4a9-45992f497e17",
      "name": "Found more?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        -992
      ],
      "id": "5ccbf871-9fcc-4bfa-976c-78bd734c3004",
      "name": "Merge3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1392,
        -624
      ],
      "id": "0d4fead8-e955-4d6b-ac2e-1ee8ef665fd7",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/checklist/create",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        -1344
      ],
      "id": "b9faec8d-af54-4cf1-9e85-ac0f01baf2e8",
      "name": "Contact Storage"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst allItems = $input.all();\n\n// First item is LLM result\nconst llmItem = allItems[0];\nconst llmOutput = llmItem.json.output || llmItem.json;\nconst shouldSetTrue = llmOutput.found === \"Yes\";\n\n// Filter out the LLM item and update only medications where found === \"Yes\"\nconst meds = allItems.slice(1); // Skip first item (LLM)\n\nconst updatedMeds = meds.map(med => ({\n  json: {\n    ...med.json,\n    // ONLY set to true if found === \"Yes\", otherwise keep original checked value\n    checked: shouldSetTrue ? true : med.json.checked\n  }\n}));\n\nreturn updatedMeds;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        -624
      ],
      "id": "abae1c6b-f89b-496c-8827-11443cbc2eee",
      "name": "update found status"
    },
    {
      "parameters": {
        "jsCode": "// Simple aggregation — keeps medication_id and amount from each incoming item\nconst items = $input.all();\n\nconst medications = items.map(i => ({\n  medicationId: i.json.medication_id || i.json.medicationId || '',\n  amount: -(i.json.amount !== undefined ? i.json.amount : 10) // fallback 10\n}));\n\nreturn [{\n  json: {\n    name: \"Weekly Restock\",\n    date: \"2025-12-01\",\n    medications,\n    isInternal: false,\n    isRush: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -1248
      ],
      "id": "ec75797b-8d8f-47a3-a34e-1756609b7e01",
      "name": "map to order format"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi, we are missing {{ $json.medications[0].amount }} {{ $json.medications[0].medicationId }}, do you have any spare?\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "\n\n    You are a storage worker. You receive an order for a medication that is not available and you check other storage locations for spare stock.\n    You must respond only with valid JSON that matches this structure, with no extra text, explanations, or comments.\n\n        If you find the requested amount, respond with:\n        {\"found\": \"Yes\", \"text\": \"Yes! We still have some left, I'll bring them by.\"} (or a similar short confirmation in the text field).\n\n        If you do not find the requested amount, respond with:\n        {\"found\": \"No\", \"text\": \"Sorry, we seem to not have any left, I'll order more.\"} (or a similar short apology in the text field).\n        Do not include code fences, markdown, or any additional fields. The answer must be exactly one JSON object.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        528,
        -1344
      ],
      "id": "1b7067d8-c9ca-43c3-9f0d-2f7033362654",
      "name": "AI Storage worker"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "amount",
              "newKey": "inventory_amount"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        864,
        -992
      ],
      "id": "d4903e05-cc96-42d6-aef3-d4671b36e6eb",
      "name": "change variable name"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Extract the raw JSON array (your medications)\nconst checklistArray = items.map(item => item.json);\n\n// Return one object with key \"checklist\"\nreturn [\n  {\n    json: {\n      checklist: checklistArray,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -624
      ],
      "id": "63b196e6-0202-4cd1-948a-e9e87cd0fd64",
      "name": "convert to checklist JSON"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/medications",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1504,
        -368
      ],
      "id": "4617c33e-bd41-49a9-bd6b-0291c729cf5d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "medicationId",
              "field2": "medicationId"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1952,
        -624
      ],
      "id": "d2d4c962-d2ac-4719-a817-075661598d9b",
      "name": "Merge2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00615c4f-b3d3-4c45-8013-d8948cb93b6e",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Prepared",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2848,
        80
      ],
      "id": "a83e8716-7756-46ec-ad9f-2c428448212d",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3024,
        224
      ],
      "id": "b999fea6-0912-4d2c-b3ed-963e76228aca",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/cart-items/cart/{{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3440,
        224
      ],
      "id": "642f33c1-88eb-4909-b551-d06dc9fffbf1",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "821f77a1-b29b-4359-9a64-020aeda2c822",
              "leftValue": "={{ $json.cart_amount_available }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4400,
        320
      ],
      "id": "2811d317-72b3-436c-bae4-700b0f14cddc",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4352,
        48
      ],
      "id": "89fe1c7c-4efa-4771-a644-b7b8ce164ece",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/api/cart-items/add",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cart_id",
              "value": "={{ $json.medications[0].cart_id }}"
            },
            {
              "name": "medication_id",
              "value": "={{ $json.medications[0].medicationId }}"
            },
            {
              "name": "amount",
              "value": "={{ $json.medications[0].amount - $json.medications[0].cart_amount_available }}"
            },
            {
              "name": "time_sensitive",
              "value": "true"
            },
            {
              "name": "inventory_id",
              "value": "={{ $json.medications[0].inventory_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5472,
        416
      ],
      "id": "f5720519-5b90-4c07-9361-0a69d14aaeeb",
      "name": "HTTP Request3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4848,
        480
      ],
      "id": "faaf54a6-3eb9-43ef-9c19-b426d979d9b9",
      "name": "Merge4"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "amount",
              "newKey": "cart_amount_available"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        3648,
        224
      ],
      "id": "5a79d00d-d227-4a74-b0de-85fc5ad76c7f",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f45a1929-3048-45c5-81e7-703265385551",
              "leftValue": "={{ $json.cart_amount_available }}",
              "rightValue": "={{ $json.amount }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4672,
        288
      ],
      "id": "2cd8b86a-3ba5-4107-a8aa-f7e52b5b0818",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst allItems = $input.all();\n\n// Extract the JSON from each item\nconst meds = allItems.map(item => item.json);\n\n// Return ONE item with an object containing the full array\nreturn [\n  {\n    json: {\n      medications: meds\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        480
      ],
      "id": "f8d3f509-5e09-4057-86e2-f4811b24f69e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 LEFT JOIN input2 ",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4560,
        512
      ],
      "id": "b128e2e4-42ec-45e1-8be3-26aec71706b9",
      "name": "Merge5"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "id",
              "newKey": "cart_id"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        3312,
        224
      ],
      "id": "100a21b9-3597-4a5a-9a07-f205766fb442",
      "name": "Rename Keys1"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/inventory/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5200,
        688
      ],
      "id": "d534e2e6-5941-4472-bf07-ad4b48606f95",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "path": "04ced486-2466-431f-b1fd-ea604848459b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        1632
      ],
      "id": "951cbc31-3bca-4e03-92c3-cd852db4ed22",
      "name": "Webhook1",
      "webhookId": "04ced486-2466-431f-b1fd-ea604848459b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/checklist/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[\n  {\n    \"checked\": false,\n    \"name\": \"lidocaine\",\n    \"location\": \"Cabinet A1\",\n    \"amount\": 20\n  },\n  {\n    \"checked\": false,\n    \"name\": \"propofol\",\n    \"location\": \"Cabinet I2\",\n    \"amount\": 10\n  },\n  {\n    \"checked\": false,\n    \"name\": \"fentanyl\",\n    \"location\": \"Specialbox Opioids\",\n    \"amount\": 1\n  },\n  {\n    \"checked\": false,\n    \"name\": \"paracetamol\",\n    \"location\": \"Shelf B3\",\n    \"amount\": 8\n  },\n  {\n    \"checked\": false,\n    \"name\": \"phenylephrine\",\n    \"location\": \"Resus Trolley\",\n    \"amount\": 1\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        1744
      ],
      "id": "1f4e63d2-c53a-4932-a87d-bff4dded7294",
      "name": "Checklist1"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/inventory",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        1520
      ],
      "id": "a8c63cf6-59f2-418d-94f4-171e61449518",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "medicationId",
              "field2": "medication_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        1664
      ],
      "id": "f065c354-92fd-4f01-a94c-8e7cda30cff5",
      "name": "Merge6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c0a03ce-6f7c-449b-b2fd-5ed0f3c53315",
              "leftValue": "={{ $json.checked }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        1520
      ],
      "id": "2f9447f6-959d-41fb-8562-653a25a60140",
      "name": "stock missing?1"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "amount",
              "newKey": "inventory_amount"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        432,
        1520
      ],
      "id": "e1a932f3-730a-4fcc-8b52-a042fb8a124f",
      "name": "Rename Keys2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "170337f8-fc85-4887-a6a6-c6196af429a7",
              "leftValue": "={{ $json.inventory_amount- $json.amount}}",
              "rightValue": "={{ $json.min_stock }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        1648
      ],
      "id": "9a42b84f-2d6d-47c2-b240-ac994e98fd4b",
      "name": "below minimum?1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi, we are missing {{ -$json.amount }} {{ $json.name }}, do you have any spare?\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "\n\n    You are a storage worker. You receive an order for a medication that is not available and you check other storage locations for spare stock.\n    You must respond only with valid JSON that matches this structure, with no extra text, explanations, or comments.\n\n        If you find the requested amount, respond with:\n        {\"found\": \"Yes\", \"text\": \"Yes! We still have some left, I'll bring them by.\"} (or a similar short confirmation in the text field).\n\n        If you do not find the requested amount, respond with:\n        {\"found\": \"No\", \"text\": \"Sorry, we seem to not have any left, I'll order more.\"} (or a similar short apology in the text field).\n        Do not include code fences, markdown, or any additional fields. The answer must be exactly one JSON object.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1376,
        992
      ],
      "id": "d6cae7ec-22c0-4603-9957-6acb7e2a9d81",
      "name": "AI Storage worker1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1344,
        832
      ],
      "id": "415f528c-204a-4680-afa0-34c1e41b1401",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "tb8D48jlhAfozmTK",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"found\": \"Yes\",\n  \"text\": \"Yes! We still have some left, I'll bring them by.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1488,
        832
      ],
      "id": "58cc96d1-1abe-4899-bfb0-c794cd9ec44f",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b54423b-7204-4103-ba5d-ffb721680b21",
              "leftValue": "={{ $json.output.found }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        992
      ],
      "id": "b2008f71-ad91-4fb2-aa97-f7c5e1032b29",
      "name": "Found more?1",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        784,
        1120
      ],
      "id": "2dbb76b4-3075-4d4e-8568-9bdf5c657cd5",
      "name": "Limit1"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst allItems = $input.all();\n\nconst shouldSetTrue = true;\n\n// Update medications and extract only needed fields for API\nconst updatedMeds = allItems.map(med => ({\n  checked: shouldSetTrue ? true : med.json.checked,\n  name: med.json.name,\n  location: med.json.location,\n  amount: med.json.amount,\n  medicationId: med.json.medicationId || med.json.medication_id,\n}));\n\n// Return as SINGLE object containing the array\nreturn {\n  json: {\n    items: updatedMeds\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        1632
      ],
      "id": "3f473f17-e054-4800-8f92-6a873c80cca6",
      "name": "update found status1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2736,
        1632
      ],
      "id": "35bb0245-3b45-4f60-aa75-3f58922c2db5",
      "name": "Merge7"
    },
    {
      "parameters": {
        "path": "04ced486-2466-431f-b1fd-ea604848459b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        32
      ],
      "id": "268012a4-1492-40e5-ab1c-d22ef042fcea",
      "name": "Webhook2",
      "webhookId": "04ced486-2466-431f-b1fd-ea604848459b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/checklist/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[\n  {\n    \"checked\": false,\n    \"name\": \"lidocaine\",\n    \"location\": \"Cabinet A1\",\n    \"amount\": 20\n  },\n  {\n    \"checked\": false,\n    \"name\": \"propofol\",\n    \"location\": \"Cabinet I2\",\n    \"amount\": 10\n  },\n  {\n    \"checked\": false,\n    \"name\": \"fentanyl\",\n    \"location\": \"Specialbox Opioids\",\n    \"amount\": 1\n  },\n  {\n    \"checked\": false,\n    \"name\": \"paracetamol\",\n    \"location\": \"Shelf B3\",\n    \"amount\": 8\n  },\n  {\n    \"checked\": false,\n    \"name\": \"phenylephrine\",\n    \"location\": \"Resus Trolley\",\n    \"amount\": 1\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        32
      ],
      "id": "79fd1dc8-de2d-4df8-ae6c-f2b3ac316fba",
      "name": "Checklist2"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/inventory/{{ $json.medication_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        32
      ],
      "id": "e446beb0-72de-4169-b9e2-51205bce93a5",
      "name": "Check minimum1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c0a03ce-6f7c-449b-b2fd-5ed0f3c53315",
              "leftValue": "={{ $json.checked }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        32
      ],
      "id": "6acd9ca6-899f-49b9-bfdd-708dcf9e370b",
      "name": "stock missing?2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/orders",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"name\": \"{{ $json.name }}\",\n\"date\": \"{{ $json.date }}\",\n\"medications\": {{ JSON.stringify($json.medications) }},\n\"isInternal\": {{ $json.isInternal }},\n\"isRush\": {{ $json.isRush }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2432,
        32
      ],
      "id": "b417a96a-707e-4557-9082-2f20f3f3f648",
      "name": "Create Order1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "170337f8-fc85-4887-a6a6-c6196af429a7",
              "leftValue": "={{ $json.inventory_amount- $json.amount}}",
              "rightValue": "={{ $json.min_stock }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        400
      ],
      "id": "cacfdb29-a0d3-4b88-bff9-7341a00b20df",
      "name": "below minimum?2"
    },
    {
      "parameters": {
        "jsCode": "// Input: items = inventory objects as shown\nconst inputItems = $input.all();\n\nconst today = new Date();\nconst dateStr = today.toISOString().slice(0, 10); // \"YYYY-MM-DD\"\n\n// Build medications array\nconst medications = inputItems\n  .filter(i => i.json.checked)\n  .map(i => {\n    const d = i.json;\n    const missing = d.min_stock - (d.inventory_amount - d.amount);\n    return {\n      medicationId: d.medicationId || d.medication_id,\n      amount: missing > 0 ? missing : 0,\n    };\n  })\n  // Optional: only keep meds where amount > 0\n  .filter(m => m.amount > 0);\n\nreturn [\n  {\n    json: {\n      name: \"Weekly Restock\",\n      date: dateStr,\n      medications,\n      isInternal: false,\n      isRush: true,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        192
      ],
      "id": "db8f990f-6264-41ac-9315-95fb9266416b",
      "name": "create order object1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/checklist/create",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3232,
        496
      ],
      "id": "0b6aa766-388d-47e1-9d50-def4cc2edae2",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "medicationId",
              "field2": "medication_id"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1648,
        400
      ],
      "id": "3c47fae5-1318-449a-9d8e-3f617e248da3",
      "name": "Merge8"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        -208
      ],
      "id": "5a4b8ca1-096f-489b-88fc-6c4a630a0d74",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "tb8D48jlhAfozmTK",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"found\": \"Yes\",\n  \"text\": \"Yes! We still have some left, I'll bring them by.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        -208
      ],
      "id": "e827934b-cff1-41bd-ba05-7b19c41c9a16",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b54423b-7204-4103-ba5d-ffb721680b21",
              "leftValue": "={{ $json.output.found }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1904,
        -96
      ],
      "id": "fbccf753-dc74-4b21-8191-00f81d3cfc7e",
      "name": "Found more?2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        864,
        32
      ],
      "id": "a6e15985-6333-4a25-acd3-ec0b0901c05c",
      "name": "Merge9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2000,
        400
      ],
      "id": "56f1e595-11d7-4d71-bda0-3ec25a6ff0d9",
      "name": "Merge10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/checklist/create",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1904,
        -304
      ],
      "id": "ea415933-e7ee-4a0e-866e-2324b1c55df7",
      "name": "Contact Storage1"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst allItems = $input.all();\n\n// First item is LLM result\nconst llmItem = allItems[0];\nconst llmOutput = llmItem.json.output || llmItem.json;\nconst shouldSetTrue = llmOutput.found === \"Yes\";\n\n// Filter out the LLM item and update only medications where found === \"Yes\"\nconst meds = allItems.slice(1); // Skip first item (LLM)\n\nconst updatedMeds = meds.map(med => ({\n  json: {\n    ...med.json,\n    // ONLY set to true if found === \"Yes\", otherwise keep original checked value\n    checked: shouldSetTrue ? true : med.json.checked\n  }\n}));\n\nreturn updatedMeds;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        400
      ],
      "id": "dbc62134-343d-4440-b78b-2e2d68f5f76a",
      "name": "update found status2"
    },
    {
      "parameters": {
        "jsCode": "// Simple aggregation — keeps medication_id and amount from each incoming item\nconst items = $input.all();\n\nconst medications = items.map(i => ({\n  medicationId: i.json.medication_id || i.json.medicationId || '',\n  amount: -(i.json.amount !== undefined ? i.json.amount : 10) // fallback 10\n}));\n\nreturn [{\n  json: {\n    name: \"Weekly Restock\",\n    date: \"2025-12-01\",\n    medications,\n    isInternal: false,\n    isRush: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -240
      ],
      "id": "19e7ca6f-c79e-49c7-b853-3197a8a90a0b",
      "name": "map to order format1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi, we are missing {{ $json.medications[0].amount }} {{ $json.medications[0].medicationId }}, do you have any spare?\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "\n\n    You are a storage worker. You receive an order for a medication that is not available and you check other storage locations for spare stock.\n    You must respond only with valid JSON that matches this structure, with no extra text, explanations, or comments.\n\n        If you find the requested amount, respond with:\n        {\"found\": \"Yes\", \"text\": \"Yes! We still have some left, I'll bring them by.\"} (or a similar short confirmation in the text field).\n\n        If you do not find the requested amount, respond with:\n        {\"found\": \"No\", \"text\": \"Sorry, we seem to not have any left, I'll order more.\"} (or a similar short apology in the text field).\n        Do not include code fences, markdown, or any additional fields. The answer must be exactly one JSON object.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1056,
        -384
      ],
      "id": "7938ab1b-511f-4c9a-b008-cde6c56b6ae3",
      "name": "AI Storage worker2",
      "disabled": true
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "amount",
              "newKey": "inventory_amount"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1472,
        32
      ],
      "id": "67d2d71a-ad63-4155-9646-50fba89d76f4",
      "name": "change variable name1"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/carts/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2640,
        224
      ],
      "id": "eefedf75-b44d-4bc7-b6e2-0754f15dc9b1",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT \n  input2.*,\n  input1.*\nFROM input2\nLEFT JOIN input1 ON input1.medication_id = input2.medication_id\n",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4208,
        320
      ],
      "id": "6d4aee35-5dae-445d-9d1b-4c493b8b7ad1",
      "name": "Merge11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aaf8393e-3d8d-47a7-9b56-26a2c1d1b87c",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        224,
        1008
      ],
      "id": "9afdea41-0979-437d-8567-09a757fcce38",
      "name": "Filter1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/notifications/workflow-event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"Storage Response\",  \n  \"message\": \"{{ $json.output.text }}\"  \n          \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1744,
        816
      ],
      "id": "2890aa1a-7a56-408b-936a-1303114842c3",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/orders",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.medications[0].name }}\",\n  \"date\": \"{{ $json.date }}\",\n  \"medications\": {{ JSON.stringify($json.medications) }},\n  \"isInternal\": {{ $json.isInternal }},\n  \"isRush\": {{$json.isRush }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2416,
        1296
      ],
      "id": "60eb7a62-600f-4aa7-9d19-f4b0fd6fa67b",
      "name": "Create Order2"
    },
    {
      "parameters": {
        "jsCode": "// Input: items = inventory objects as shown\nconst inputItems = $input.all();\n\nconst today = new Date();\nconst dateStr = today.toISOString().slice(0, 10); // \"YYYY-MM-DD\"\n\n// Build medications array\nconst medications = inputItems\n  .map(i => {\n    const d = i.json;\n    const missing = d.min_stock - (d.inventory_amount - Math.abs(d.amount));\n    return {\n      medicationId: d.medicationId || d.medication_id,\n   name: d.name,\n      amount: missing > 0 ? missing : 0,\n    };\n  })\n  // Optional: only keep meds where amount > 0\n\n\nreturn [\n  {\n    json: {\n      name: \"Weekly Restock\",\n      date: dateStr,\n      medications,\n      isInternal: false,\n      isRush: true,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        1296
      ],
      "id": "6e66c801-d0c4-4fa9-87db-540d80712f71",
      "name": "create order object2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/notifications/workflow-event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"Order Created\",  \n  \"message\": \"An order for {{ $json.medications[0].amount }} {{ $json.medications[0].name }} has been created on {{ $json.date }}\"  \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2656,
        1296
      ],
      "id": "e0f98185-3d9f-4a69-b79f-151db76e559c",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1920,
        1232
      ],
      "id": "8f29bce9-ca65-4425-9533-be585c64b29f",
      "name": "Merge13"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8000/api/inventory/ {{ $('stock missing?1').item.json.id }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inventory_id",
              "value": "={{ $('stock missing?1').item.json.id }}"
            },
            {
              "name": "new_amount",
              "value": "={{ $('stock missing?1').item.json.min_stock }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        960
      ],
      "id": "17249c77-7a39-47a6-b693-f6e1508c080a",
      "name": "Update DB Amount"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/notifications/workflow-event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"Concacting Storage\",  \n  \"message\": \"Hey! We are looking for {{ -$json.amount }}  {{ $json.name }} can you check if there is any left somewhere?\"  \n          \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        832
      ],
      "id": "432958c0-0649-45d2-a2f1-0fdc9473a036",
      "name": "HTTP Request11"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        1088
      ],
      "id": "3d08467e-a9e2-4b90-96a6-f044acbc0590",
      "name": "Wait",
      "webhookId": "91399d9b-f397-4054-97a3-f1d08c801aa6"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://host.docker.internal:8000/api/checklist/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.items }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3232,
        1632
      ],
      "id": "091029aa-92a7-44bc-a598-59ecf8cb1e66",
      "name": "HTTP Request12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/notifications/workflow-event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"Checklist updated!\",  \n  \"message\": \"{{ $json.status }}\"  \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3424,
        1456
      ],
      "id": "816e5739-209c-4c08-86e8-48fc59a17f6d",
      "name": "HTTP Request13"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "stock missing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stock missing?": {
      "main": [
        [
          {
            "node": "map to order format",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check minimum": {
      "main": [
        [
          {
            "node": "change variable name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "below minimum?": {
      "main": [
        [
          {
            "node": "create order object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "create order object": {
      "main": [
        [
          {
            "node": "Create Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "below minimum?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Storage worker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Storage worker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Found more?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Check minimum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "update found status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update found status": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map to order format": {
      "main": [
        [
          {
            "node": "AI Storage worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Storage worker": {
      "main": [
        [
          {
            "node": "Found more?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Contact Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "change variable name": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert to checklist JSON": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "convert to checklist JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rename Keys1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Rename Keys1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Checklist1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Rename Keys2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "stock missing?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys2": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stock missing?1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge13",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "below minimum?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Storage worker1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Storage worker1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Storage worker1": {
      "main": [
        [
          {
            "node": "Found more?1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found more?1": {
      "main": [
        [
          {
            "node": "Update DB Amount",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "below minimum?1": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          },
          {
            "node": "create order object2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "update found status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Checklist2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist2": {
      "main": [
        [
          {
            "node": "stock missing?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check minimum1": {
      "main": [
        [
          {
            "node": "change variable name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stock missing?2": {
      "main": [
        [
          {
            "node": "map to order format1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "below minimum?2": {
      "main": [
        [
          {
            "node": "create order object1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "create order object1": {
      "main": [
        [
          {
            "node": "Create Order1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "below minimum?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Storage worker2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Storage worker2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Found more?2": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Order1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          },
          {
            "node": "Check minimum1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "update found status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update found status2": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge11",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "map to order format1": {
      "main": [
        [
          {
            "node": "AI Storage worker2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Storage worker2": {
      "main": [
        [
          {
            "node": "Found more?2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Contact Storage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "change variable name1": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge11": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Order2": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create order object2": {
      "main": [
        [
          {
            "node": "Create Order2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge13": {
      "main": [
        [
          {
            "node": "create order object2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Storage worker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update found status1": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "678ed849-90bc-464f-9e94-3dea6f2ee6c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f72ae3c73fc227654e5e52a81f4f6ee1e5ae3444ec65155b53b84ec97ea95c1f"
  },
  "id": "EEWFad4mpZSvoYIj",
  "tags": []
}